/* mint-green : #08FFC8 */
/* yellow : #FEFF86 */
/* yellow : #F9F54B */
/* font-family: 'Hind Madurai', sans-serif;  700   400 */
/* font-family: 'Outfit', sans-serif;        400   200 */
.regular-padding {
    padding: 1rem 5rem;
}

.bg-coloured {
    background-color: #F9F54B;
}

.btn{
    border-color: black !important;
    color: black;
    --bs-btn-hover-bg: #F9F54B;
}

/*         -------------------  Navbar  ---------------------            */
input:focus {
    border-color: #F9F54B !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #F9F54B !important;
}

/*         -------------------  Meals  ---------------------            */
.meal-card {
    padding: 3% !important; 
    border: none !important;
}

.meal-card img{
    border-radius: 10%;
}