/* font-family: 'Hind Madurai', sans-serif;  700   400 */
/* font-family: 'Outfit', sans-serif;        400   200 */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Hind Madurai', sans-serif;
}

p, a, input, .btn {
    font-family: 'Outfit', sans-serif !important;
}

.regular-padding {
    padding: 1rem 5rem;
}

.bg-coloured {
    background-color: #F9F54B;
}

.btn {
    border-color: black !important;
    color: black;
    --bs-btn-hover-bg: #F9F54B;
}

i:hover {
    color: #F9F54B;
}

/*         -------------------  Navbar  ---------------------            */
.navbar-brand {
    font-weight: 700 !important;
}

input:focus {
    border-color: #F9F54B !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #F9F54B !important;
}

/*         -------------------  Favorite  ---------------------            */
.favorite-box {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.favorite-meal {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.favorite-img {
    width: 5rem;
    border-radius: 50%;
    border: 5px solid white;
}

.favorite-btn {
    border: none;
    background: inherit;
    padding-top: 0.2rem;
}

.favorite-btn:hover {
    color: white;
    font-weight: 400;
}

/*         -------------------  Meals  ---------------------            */
.meal-card {
    padding: 3% !important;
    border: none !important;
}

.meal-card img {
    border-radius: 10%;
}


.card-buttons {
    display: flex;
    justify-content: space-between;
}

/*         -------------------  Modal  ---------------------            */
.model-img {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.model-img img {
    width: 100%;
}

.model-btn {
    text-align: center;
}